In [ ]:
def reverse_string(input_string):
    return input_string[::-1]

input_string = "Hello, World!"
reversed_string = reverse_string(input_string)
print(reversed_string)

In [ ]:
def is_palindrome(input_string):
    
    input_string = input_string.replace(" ", "").lower()
    
    reversed_string = input_string[::-1]
    return input_string == reversed_string

input_string = "A man a plan a canal Panama"
result = is_palindrome(input_string)
if result:
    print(f"{input_string} is a palindrome.")
else:
    print(f"{input_string} is not a palindrome.")

In [ ]:
input_string = "Hello, World!"
uppercase_string = input_string.upper()
print(uppercase_string)

In [ ]:
input_string="Hello World!"
lowercase_string = input_string.lower()
print(lowercase_string)

In [ ]:
def count_vowels(input_string):
    
    vowels = set("AEIOUaeiou")
    
    vowel_count = 0
    
    for char in input_string:
        if char in vowels:
            vowel_count += 1
    
    return vowel_count

input_string = "Hello, World!"
vowel_count = count_vowels(input_string)
print(f"The number of vowels in '{input_string}' is: {vowel_count}")

In [ ]:
def count_consonants(input_string):
    
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    
    consonant_count = 0
    
    for char in input_string:
    
        if char in consonants:
            consonant_count += 1
    
    return consonant_count

input_string = "Hello, World!"
result = count_consonants(input_string)
print("Number of consonants:", result)

In [ ]:
def remove_whitespace(input_string):
    
    result_string = input_string.replace(" ", "").replace("\t", "").replace("\n", "")
    return result_string

input_string = "Hello  \tWorld!\nThis is a test."
result = remove_whitespace(input_string)
print("Result:", result)

In [ ]:
def string_length(input_string):
    count = 0
    for char in input_string:
        count += 1
    return count

input_string = "Hello, World!"
length = string_length(input_string)
print("Length of the string:", length)

In [ ]:
def contains_word(input_string, word):
    
    return word in input_string

input_string = "Hello, World! This is a test."
word_to_check = "World"
result = contains_word(input_string, word_to_check)
if result:
    print(f"The string contains the word '{word_to_check}'.")
else:
    print(f"The string does not contain the word '{word_to_check}'.")

In [ ]:
def replace_word(input_string, old_word, new_word):
    
    modified_string = input_string.replace(old_word, new_word)
    return modified_string

input_string = "Hello, World! This is a test."
old_word = "World"
new_word = "Universe"
result = replace_word(input_string, old_word, new_word)
print("Modified string:", result)

In [ ]:
def count_word_occurrences(input_string, target_word):
    words = input_string.split()
    
    word_count = 0
    
    for word in words:
        if word == target_word:
            word_count += 1
    
    return word_count

input_string = "This is a test. This test is just a simple test."
target_word = "test"
result = count_word_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {result} times in the string.")

In [ ]:
def find_first_occurrence(input_string, target_word):
    
    index = input_string.find(target_word)
    return index

# Example usage:
input_string = "This is a test. This test is just a simple test."
target_word = "test"
result = find_first_occurrence(input_string, target_word)

if result != -1:
    print(f"The first occurrence of '{target_word}' starts at index {result}.")
else:
    print(f"'{target_word}' not found in the string.")

In [ ]:
def find_last_occurrence(input_string, target_word):
    
    index = input_string.rfind(target_word)
    return index

# Example
input_string = "This is a test. This test is just a simple test."
target_word = "test"
result = find_last_occurrence(input_string, target_word)

if result != -1:
    print(f"The last occurrence of '{target_word}' starts at index {result}.")
else:
    print(f"'{target_word}' not found in the string.")

In [ ]:
# Input string
input_string = "This is a sample sentence."
word_list = input_string.split()

print(word_list)

In [ ]:
# List of words
word_list = ['This', 'is', 'a', 'sample', 'sentence.']
result_string = ' '.join(word_list)

print(result_string)

In [ ]:

input_string = "This is a sample sentence."
result_string = input_string.replace(' ', '_')

print(result_string)

In [ ]:
# Input string
input_string = "Hello, World! This is a test."

word_to_check = "Hello"

if input_string.startswith(word_to_check):
    print(f"The string starts with '{word_to_check}'.")
else:
    print(f"The string does not start with '{word_to_check}'.")

In [ ]:
# Input string
input_string = "Hello, World! This is a test."
word_to_check = "test."

if input_string.endswith(word_to_check):
    print(f"The string ends with '{word_to_check}'.")
else:
    print(f"The string does not end with '{word_to_check}'.")

In [ ]:
# Input string
input_string = "hello, world!"
title_case_string = input_string.title()

print(title_case_string)

In [ ]:
def find_longest_word(input_string):
    # Split the input string into words
    words = input_string.split()
    longest_word = ""
    max_length = 0

    for word in words:
        word = word.strip(".,!?")

        if len(word) > max_length:
            longest_word = word
            max_length = len(word)

    return longest_word

input_string = "This is a test sentence with some longer words like elephant and hippopotamus."
result = find_longest_word(input_string)
print("Longest word:", result)

In [ ]:
def find_shortest_word(input_string):
    # Split the input string into words
    words = input_string.split()

    shortest_word = None
    min_length = float('inf')  

    
    for word in words:
        word = word.strip(".,!?")

        if len(word) < min_length:
            shortest_word = word
            min_length = len(word)

    return shortest_word

input_string = "This is a test sentence with some shorter words like cat and dog."
result = find_shortest_word(input_string)
print("Shortest word:", result)

In [ ]:
def reverse_words(input_string):
    # Split the input string into words
    words = input_string.split()

    reversed_words = words[::-1]

    reversed_string = ' '.join(reversed_words)

    return reversed_string

# Example usage:
input_string = "This is a test sentence."
result = reverse_words(input_string)
print("Reversed string:", result)

In [ ]:
# Input string
input_string = "Hello123"

if input_string.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

In [ ]:
import re

def extract_digits(input_string):
    
    digits = re.findall(r'\d', input_string)
    digit_string = ''.join(digits)
    
    return digit_string

# Example usage:
input_string = "The price of the product is $99.99"
result = extract_digits(input_string)
print("Extracted digits:", result)

In [ ]:
def extract_alphabets(input_string):
    
    alphabet_string = ""
    
    for char in input_string:
        if char.isalpha():
            alphabet_string += char
    
    return alphabet_string

# Example usage:
input_string = "The price of the product is $99.99"
result = extract_alphabets(input_string)
print("Extracted alphabets:", result)

In [ ]:
def count_uppercase_letters(input_string):
    
    uppercase_count = 0
    
    for char in input_string:
        if char.isupper():
            uppercase_count += 1
    
    return uppercase_count

# Example usage:
input_string = "Hello, World! This Is An EXAMPLE."
result = count_uppercase_letters(input_string)
print("Number of uppercase letters:", result)

In [ ]:
def count_lowercase_letters(input_string):
    # Initialize a counter for lowercase letters
    lowercase_count = 0
    
    for char in input_string:
        if char.islower():
            lowercase_count += 1
    
    return lowercase_count

input_string = "Hello, World! This Is An EXAMPLE."
result = count_lowercase_letters(input_string)
print("Number of lowercase letters:", result)

In [ ]:
# Input string
input_string = "Hello, World! This Is An EXAMPLE."
swapped_string = input_string.swapcase()

print(swapped_string)

In [ ]:
def remove_word(input_string, word_to_remove):
    
    result_string = input_string.replace(word_to_remove, "")
    return result_string

# Example usage:
input_string = "This is a sample sentence. This sample is a test."
word_to_remove = "sample"
result = remove_word(input_string, word_to_remove)
print("Modified string:", result)

In [ ]:
import re

def is_valid_email(email):
    
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    
    if re.match(pattern, email):
        return True
    else:
        return False

# Example usage:
email = "example@email.com"
if is_valid_email(email):
    print(f"'{email}' is a valid email address.")
else:
    print(f"'{email}' is not a valid email address.")

In [ ]:
email = "user@example.com"
username = email.split("@")[0]
print(username)

In [ ]:
email = "user@example.com"
domain = email.split("@")[1]
print(domain)

In [ ]:
import re

input_string = "This    is   a  string     with multiple   spaces."
output_string = re.sub(r'\s+', ' ', input_string)

print(output_string)

In [ ]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

# Test cases
url1 = "https://www.example.com"
url2 = "not_a_valid_url"
url3 = "ftp://ftp.example.com"

print(is_valid_url(url1))  # True
print(is_valid_url(url2))  # False
print(is_valid_url(url3))  # True

In [ ]:
from urllib.parse import urlparse

url = "https://www.example.com/page"

parsed_url = urlparse(url)
protocol = parsed_url.scheme

print(protocol)

In [ ]:
# Input string
input_string = "hello, world!"

char_frequency = {}

for char in input_string:
    
    if char.isalnum():
        char = char.lower()
        
        char_frequency[char] = char_frequency.get(char, 0) + 1

for char, frequency in char_frequency.items():
    print(f"'{char}': {frequency}")

In [ ]:
import string

def remove_punctuation(input_string):
    translator = str.maketrans('', '', string.punctuation)
    
    cleaned_string = input_string.translate(translator)
    
    return cleaned_string

input_string = "Hello, World! This is an example string."
cleaned_string = remove_punctuation(input_string)
print(cleaned_string)

In [ ]:
def contains_only_digits(input_string):
    return input_string.isdigit()

input_string = "12345"
result = contains_only_digits(input_string)
print(result)  

input_string = "12345abc"
result = contains_only_digits(input_string)
print(result)

In [ ]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()

input_string = "Hello"
result = contains_only_alphabets(input_string)
print(result)  

input_string = "Hello123"
result = contains_only_alphabets(input_string)
print(result)

In [ ]:
input_string = "Hello, World!"
char_list = list(input_string)

print(char_list)

In [ ]:
def are_anagrams(str1, str2):
    
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    return sorted(str1) == sorted(str2)

# Test cases
string1 = "listen"
string2 = "silent"
result = are_anagrams(string1, string2)
print(result)  

string1 = "hello"
string2 = "world"
result = are_anagrams(string1, string2)
print(result)

In [ ]:
def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""
    
    for char in text:
        if char.isalpha():
            
            is_upper = char.isupper()
            
            char_code = ord(char) - ord('A' if is_upper else 'a')
            encrypted_char_code = (char_code + shift) % 26
            encrypted_char = chr(encrypted_char_code + ord('A' if is_upper else 'a'))
            
            encrypted_text += encrypted_char
        else:
            encrypted_text += char
    
    return encrypted_text

text = "Hello, World!"
shift = 3
encrypted_text = caesar_cipher_encrypt(text, shift)
print(encrypted_text)

In [ ]:
def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""
    
    for char in encrypted_text:
        if char.isalpha():
            is_upper = char.isupper()
            
            char_code = ord(char) - ord('A' if is_upper else 'a')
            decrypted_char_code = (char_code - shift) % 26
            decrypted_char = chr(decrypted_char_code + ord('A' if is_upper else 'a'))
            
            decrypted_text += decrypted_char
        else:
            decrypted_text += char
    
    return decrypted_text

encrypted_text = "Khoor, Zruog!"
shift = 3
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift)
print(decrypted_text)

In [ ]:
from collections import Counter
import re

def most_frequent_word(input_string):
    words = re.findall(r'\b\w+\b', input_string.lower())
    
    word_counts = Counter(words)
    most_common_word, frequency = word_counts.most_common(1)[0]
    
    return most_common_word, frequency

text = "This is a test. This is only a test. Testing is important."
most_common_word, frequency = most_frequent_word(text)

print(f"The most frequent word is '{most_common_word}' with a frequency of {frequency}.")

In [ ]:
import re

def unique_words(input_string):
    words = re.findall(r'\b\w+\b', input_string.lower())
    unique_word_set = set(words)
    
    return list(unique_word_set)

text = "This is a test. This is only a test. Testing is important."
unique_word_list = unique_words(text)

print("Unique words in the text:")
for word in unique_word_list:
    print(word)

In [ ]:
import pyphen

def count_syllables(input_string):
    dic = pyphen.Pyphen(lang='en_US')
    
    words = input_string.split()
    
    syllable_count = 0
    for word in words:
        syllables = dic.inserted(word).count('-') + 1
        syllable_count += syllables
    
    return syllable_count

text = "This is a test sentence to count syllables."
syllable_count = count_syllables(text)
print(f"Total syllables: {syllable_count}")

In [ ]:
import re

def contains_special_characters(input_string):
    pattern = r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\\/\|]'
    
    if re.search(pattern, input_string):
        return True
    else:
        return False

text_with_special_chars = "Hello, World!"
text_without_special_chars = "HelloWorld123"

contains_special = contains_special_characters(text_with_special_chars)
print(f"'{text_with_special_chars}' contains special characters: {contains_special}")

contains_special = contains_special_characters(text_without_special_chars)
print(f"'{text_without_special_chars}' contains special characters: {contains_special}")

In [ ]:
def remove_nth_word(input_string, n):
    
    words = input_string.split()

    if 1 <= n <= len(words):
        
        del words[n - 1]
        result_string = " ".join(words)
        return result_string
    else:
        return input_string

# Example usage
text = "This is a sample sentence to remove the nth word."
n = 5
new_text = remove_nth_word(text, n)
print(new_text)

In [ ]:
def insert_word_at_position(input_string, word_to_insert, n):
    
    words = input_string.split()

    if 0 <= n <= len(words):
        words.insert(n, word_to_insert)

        result_string = " ".join(words)
        return result_string
    else:
        return input_string

text = "This is a sample sentence to insert a word."
word_to_insert = "new"
n = 3
new_text = insert_word_at_position(text, word_to_insert, n)
print(new_text)

In [ ]:
def csv_string_to_list(csv_string):
    
    lines = csv_string.strip().split('\n')
    data = [line.split(',') for line in lines]
    
    return data

csv_data = "Name,Age,Location\nAlice,25,New York\nBob,30,Los Angeles"
result = csv_string_to_list(csv_data)

for row in result:
    print(row)

In [ ]:
List Based Practise Problems

In [ ]:
my_list = list(range(1, 11))

In [ ]:
def custom_len(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

my_list = [1, 2, 3, 4, 5]
length = custom_len(my_list)
print(length)

In [ ]:
my_list = [1, 2, 3, 4, 5]
element_to_append = 6
my_list.append(element_to_append)

print(my_list)

In [ ]:
my_list = [1, 2, 3, 4, 5]
element_to_insert = 99
index_to_insert_at = 2  

my_list.insert(index_to_insert_at, element_to_insert)

print(my_list)

In [ ]:
my_list = [1, 2, 3, 4, 5]
element_to_remove = 3

my_list.remove(element_to_remove)

print(my_list)

In [ ]:
my_list = [1, 2, 3, 4, 5]
index_to_remove = 2  

removed_element = my_list.pop(index_to_remove)

print("Removed element:", removed_element)
print("Updated list:", my_list)

In [ ]:
my_list = [1, 2, 3, 4, 5]
element_to_check = 3

if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

In [ ]:
my_list = [1, 2, 3, 4, 5, 3]
element_to_find = 3

index = my_list.index(element_to_find)

print(f"The index of the first occurrence of {element_to_find} is {index}.")

In [ ]:
my_list = [1, 2, 3, 4, 5, 3]
element_to_count = 3

count = my_list.count(element_to_count)

print(f"The element {element_to_count} appears {count} times in the list.")

In [ ]:
original_string = "Hello, World!"

reversed_string = original_string[::-1]

print(reversed_string)

In [ ]:
original_list = [5, 2, 9, 1, 5, 6]
sorted_list = sorted(original_list)
print(sorted_list)

In [ ]:
original_list = [5, 2, 9, 1, 5, 6]
sorted_list_descending = sorted(original_list, reverse=True)
print(sorted_list_descending)

In [ ]:
even_numbers = [x for x in range(1, 21) if x % 2 == 0]
print(even_numbers)

In [ ]:
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]
print(odd_numbers)

In [ ]:
my_list = [1, 2, 3, 4, 5]
list_sum = sum(my_list)
print(list_sum)

In [ ]:
my_list = [7, 15, 2, 10, 23, 14]
max_value = max(my_list)
print(max_value)

In [ ]:
my_list = [7, 15, 2, 10, 23, 14]
min_value = min(my_list)
print(min_value)

In [ ]:
squares = [x**2 for x in range(1, 11)]
print(squares)

In [ ]:
import random

random_numbers = [random.randint(1, 100) for _ in range(10)]
print(random_numbers)

In [ ]:
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(original_list))
print(unique_list)

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = list(set(list1) & set(list2))
print(common_elements)

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

set1 = set(list1)
set2 = set(list2)

difference = list(set1 - set2)
print(difference)

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)
print(list1)

In [ ]:
original_list = [1, 2, 3, 4, 5]
doubled_list = [x * 2 for x in original_list]
print(doubled_list)

In [ ]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_list = [x for x in original_list if x % 2 != 0]
print(filtered_list)

In [ ]:
string_list = ["1", "2", "3", "4", "5"]
integer_list = [int(x) for x in string_list]
print(integer_list)

In [ ]:
integer_list = [1, 2, 3, 4, 5]
string_list = [str(x) for x in integer_list]
print(string_list)

In [ ]:
def flatten_list(nested_list):
    flattened_list = []
    for item in nested_list:
        if isinstance(item, list):
            flattened_list.extend(flatten_list(item))
        else:
            flattened_list.append(item)
    return flattened_list

nested_list = [1, [2, 3], [4, [5, 6]], 7]
flat_list = flatten_list(nested_list)
print(flat_list)

In [ ]:
def generate_fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    else:
        fibonacci_list = generate_fibonacci(n - 1)
        next_fibonacci = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_fibonacci)
        return fibonacci_list

fibonacci_list = generate_fibonacci(10)
print(fibonacci_list)

In [ ]:
def rotate_left(lst, n):
    if len(lst) == 0:
        return lst  
    n = n % len(lst)  
    return lst[n:] + lst[:n]

original_list = [1, 2, 3, 4, 5]
n = 2  
rotated_list = rotate_left(original_list, n)
print(rotated_list)

In [ ]:
def rotate_right(lst, n):
    if len(lst) == 0:
        return lst  
    n = n % len(lst)  
    return lst[-n:] + lst[:-n]

original_list = [1, 2, 3, 4, 5]
n = 2  
rotated_list = rotate_right(original_list, n)
print(rotated_list)

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

prime_list = [x for x in range(2, 51) if is_prime(x)]

print(prime_list)

In [ ]:
def split_into_chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3

chunks = list(split_into_chunks(original_list, chunk_size))

print(chunks)

In [ ]:
original_list = [10, 5, 15, 7, 20, 12]
sorted_list = sorted(original_list, reverse=True)

if len(sorted_list) >= 2:
    second_largest = sorted_list[1]
    print("The second largest number is:", second_largest)
else:
    print("The list doesn't have a second largest number.")

In [ ]:
original_list = [1, 2, 3, 4, 5]
squared_list = [x ** 2 for x in original_list]
print(squared_list)

In [ ]:
original_list = ['apple', 'banana', 'cherry', 'date']

index_dict = {element: index for index, element in enumerate(original_list)}

print(index_dict)

In [ ]:
import random

my_list = [1, 2, 3, 4, 5]

random.shuffle(my_list)

print(my_list)

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result

factorial_list = [factorial(n) for n in range(10)]
print(factorial_list)

In [ ]:

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

set1 = set(list1)
set2 = set(list2)

if set1.intersection(set2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)

In [ ]:
original_list = [1, -2, 3, -4, 5, -6]
modified_list = [x if x >= 0 else 0 for x in original_list]
print(modified_list)

In [ ]:
my_string = "This is a sample string that we want to split into words"
word_list = my_string.split()
print(word_list)

In [ ]:
word_list = ['This', 'is', 'a', 'list', 'of', 'words']
my_string = ' '.join(word_list)
print(my_string)

In [ ]:
n = 10  
power_of_two_list = [2 ** i for i in range(n)]
print(power_of_two_list)

In [ ]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
longest_string = max(string_list, key=len)
print("The longest string is:", longest_string)

In [ ]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
shortest_string = min(string_list, key=len)
print("The shortest string is:", shortest_string)

In [ ]:
n = 10  
triangular_numbers = []
current_sum = 0

for i in range(1, n + 1):
    current_sum += i
    triangular_numbers.append(current_sum)

print(triangular_numbers)

In [ ]:
def is_subsequence(subsequence, sequence):
    i, j = 0, 0

    while i < len(subsequence) and j < len(sequence):
        if subsequence[i] == sequence[j]:
            i += 1
        j += 1

    return i == len(subsequence)

# Example usage:
sequence = [1, 2, 3, 4, 5, 6, 7, 8]
subsequence = [2, 4, 6]

if is_subsequence(subsequence, sequence):
    print("The subsequence is present in the sequence.")
else:
    print("The subsequence is not present in the sequence.")

In [ ]:
my_list = [1, 2, 3, 4, 5]

index1 = 1  
index2 = 3  

temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print(my_list)

In [ ]:
Tuple Based Practice Problem

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print(third_element)

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
length = 0

for _ in my_tuple:
    length += 1

print("The length of the tuple is:", length)

In [ ]:
my_tuple = (1, 2, 2, 3, 4, 2, 5)
element_to_count = 2

count = my_tuple.count(element_to_count)

print(f"The element {element_to_count} appears {count} times in the tuple.")

In [ ]:
my_tuple = (1, 2, 2, 3, 4, 2, 5)
element_to_find = 2

if element_to_find in my_tuple:
    index = my_tuple.index(element_to_find)
    print(f"The element {element_to_find} is first found at index {index}.")
else:
    print(f"The element {element_to_find} is not in the tuple.")

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3

if element_to_check in my_tuple:
    print(f"The element {element_to_check} exists in the tuple.")
else:
    print(f"The element {element_to_check} does not exist in the tuple.")

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)

print(my_list)

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)

print(my_tuple)

In [ ]:
my_tuple = (1, 2, 3)

a, b, c = my_tuple

print("a =", a)
print("b =", b)
print("c =", c)

In [ ]:
even_numbers = tuple(x for x in range(2, 11, 2))

print(even_numbers)

In [ ]:
odd_numbers = tuple(x for x in range(1, 11) if x % 2 != 0)

print(odd_numbers)

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2

print(concatenated_tuple)

In [ ]:
original_tuple = (1, 2, 3)

repeated_tuple = original_tuple * 3

print(repeated_tuple)

In [ ]:
my_tuple = ()

if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

In [ ]:
nested_tuple = ((1, 2), (3, 4, 5), (6,))

print(nested_tuple)

In [ ]:
nested_tuple = ((1, 2), (3, 4, 5), (6,))
first_element = nested_tuple[0][0]

print("The first element in the nested tuple is:", first_element)

In [ ]:
single_element_tuple = (1,)

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("Tuples are equal")

if tuple1 != (4, 5, 6):
    print("Tuples are not equal")

if tuple1 < (2, 3, 4):
    print("Tuple1 is less than (2, 3, 4)")

if tuple1 > (0, 1, 2):
    print("Tuple1 is greater than (0, 1, 2)")

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

del my_tuple

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
slice_tuple = my_tuple[1:4]

print(slice_tuple)

In [ ]:
my_tuple = (10, 5, 20, 30, 15)

max_value = max(my_tuple)

print("The maximum value in the tuple is:", max_value)

In [ ]:
my_tuple = (10, 5, 20, 30, 15)

min_value = min(my_tuple)

print("The minimum value in the tuple is:", min_value)

In [ ]:
my_string = "Hello, World!"

char_tuple = tuple(my_string)

print(char_tuple)

In [ ]:
char_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')
string_from_tuple = ''.join(char_tuple)

print(string_from_tuple)

In [ ]:
my_tuple = (42, "Hello, World!", 3.14, True)

print(my_tuple[0])  
print(my_tuple[1])  
print(my_tuple[2])  
print(my_tuple[3])

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The two tuples are identical.")
else:
    print("The two tuples are not identical.")

In [ ]:
original_tuple = (3, 1, 2, 5, 4)

sorted_tuple = tuple(sorted(original_tuple))

print(sorted_tuple)

In [ ]:

int_tuple = (1, 2, 3, 4, 5)

str_tuple = tuple(str(x) for x in int_tuple)

print(str_tuple)

In [ ]:

str_tuple = ('1', '2', '3', '4', '5')
int_tuple = tuple(int(x) for x in str_tuple)

print(int_tuple)

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

merged_tuple = tuple1 + tuple2

print(merged_tuple)

In [ ]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return tuple(flattened)

nested_tuple = (1, (2, 3), 4, (5, (6, 7)), 8)
flattened_tuple = flatten_tuple(nested_tuple)
print(flattened_tuple)

In [ ]:
prime_numbers = (2, 3, 5, 7, 11)

In [ ]:
def is_tuple_palindrome(input_tuple):
    
    input_list = list(input_tuple)
    
    reversed_list = input_list[::-1]
    
    return input_list == reversed_list

my_tuple = (1, 2, 3, 2, 1)
result = is_tuple_palindrome(my_tuple)
print(result)

In [ ]:

squares_tuple = (1**2, 2**2, 3**2, 4**2, 5**2)

print(squares_tuple)

In [ ]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

print(filtered_tuple)

In [ ]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

doubled_tuple = tuple(x * 2 for x in original_tuple)

print(doubled_tuple)

In [ ]:
import random

random_tuple = tuple(random.randint(1, 100) for _ in range(5))

print(random_tuple)

In [ ]:
def is_tuple_sorted(input_tuple):
    
    return input_tuple == tuple(sorted(input_tuple))

my_tuple = (1, 2, 3, 4, 5)
result = is_tuple_sorted(my_tuple)
print(result)

In [ ]:
def rotate_tuple_left(input_tuple, n):
    
    n %= len(input_tuple)
    
    rotated_tuple = input_tuple[n:] + input_tuple[:n]
    
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n = 2
result = rotate_tuple_left(my_tuple, n)
print(result)

In [ ]:
def rotate_tuple_right(input_tuple, n):
    
    n %= len(input_tuple)
    
    rotated_tuple = input_tuple[-n:] + input_tuple[:-n]
    
    return rotated_tuple

# Example:
my_tuple = (1, 2, 3, 4, 5)
n = 2
result = rotate_tuple_right(my_tuple, n)
print(result)

In [ ]:

def generate_fibonacci(n):
    fibonacci_sequence = []
    a, b = 0, 1
    for _ in range(n):
        fibonacci_sequence.append(a)
        a, b = b, a + b
    return tuple(fibonacci_sequence)

first_5_fibonacci = generate_fibonacci(5)

print(first_5_fibonacci)

In [ ]:

user_input_str = input("Enter values separated by spaces: ")

input_list = user_input_str.split()

input_tuple = tuple(input_list)

print("User input as a tuple:", input_tuple)

In [ ]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

index1 = 1
index2 = 3

tuple_list = list(original_tuple)

tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]

swapped_tuple = tuple(tuple_list)

print(swapped_tuple)

In [ ]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

reversed_tuple = original_tuple[::-1]

print(reversed_tuple)

In [ ]:
# Function to generate the first n powers of 2
def generate_powers_of_2(n):
    powers_of_2 = [2**i for i in range(n)]
    return tuple(powers_of_2)

n = 5  

powers_tuple = generate_powers_of_2(n)

print(powers_tuple)

In [ ]:
def find_longest_string(input_tuple):
    if not input_tuple:
        return None  

    longest_string = input_tuple[0]  

    for string in input_tuple:
        if len(string) > len(longest_string):
            longest_string = string

    return longest_string

# Example usage:
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")
longest = find_longest_string(my_tuple)
print("Longest string:", longest)

In [ ]:
def find_shortest_string(input_tuple):
    if not input_tuple:
        return None  

    shortest_string = input_tuple[0]  

    for string in input_tuple:
        if len(string) < len(shortest_string):
            shortest_string = string

    return shortest_string

# Example usage:
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")
shortest = find_shortest_string(my_tuple)
print("Shortest string:", shortest)

In [ ]:
# Function to generate the first n triangular numbers
def generate_triangular_numbers(n):
    triangular_numbers = []
    for i in range(1, n + 1):
        triangular_numbers.append(i * (i + 1) // 2)
    return tuple(triangular_numbers)

n = 5  

triangular_tuple = generate_triangular_numbers(n)

print(triangular_tuple)

In [ ]:
def contains_subsequence(main_tuple, sub_tuple):
    main_len = len(main_tuple)
    sub_len = len(sub_tuple)
    if sub_len > main_len:
        return False

    for i in range(main_len - sub_len + 1):
        if main_tuple[i:i + sub_len] == sub_tuple:
            return True

    return False

# Example usage:
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
sub_tuple = (3, 4, 5)
result = contains_subsequence(main_tuple, sub_tuple)
print(result)

In [ ]:
n = 10  

alternating_tuple = tuple((i % 2) for i in range(n))

print(alternating_tuple)

In [ ]:
Set Based Practice Problem

In [ ]:
my_set = {1, 2, 3, 4, 5}

In [ ]:
my_set = {1, 2, 3, 4, 5}
element_to_add = 6
my_set.add(element_to_add)
print(my_set)

In [ ]:
my_set = {1, 2, 3, 4, 5}
element_to_remove = 3

my_set.discard(element_to_remove)
print(my_set)

In [ ]:
my_set = {1, 2, 3, 4, 5}
element_to_check = 3

if my_set.__contains__(element_to_check):
    print(f"{element_to_check} exists in the set")
else:
    print(f"{element_to_check} does not exist in the set")

In [ ]:
my_set = {1, 2, 3, 4, 5}
count = 0

for _ in my_set:
    count += 1

print("The length of the set is:", count)

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

In [ ]:
even_numbers_set = {x for x in range(1, 11) if x % 2 == 0}
print(even_numbers_set)

In [ ]:
odd_numbers_set = {x for x in range(1, 11) if x % 2 != 0}
print(odd_numbers_set)

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

union_set = set1.union(set2)
print(union_set)

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection_set = set1 & set2
print(intersection_set)

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

difference_set = set1 - set2
print(difference_set)

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {2, 3}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {2, 3}

is_superset = set1 >= set2

if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
print(my_set)

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print(my_list)

In [ ]:
my_set = {1, 2, 3, 4, 5}
random_element = my_set.pop()
print("Removed element:", random_element)
print("Updated set:", my_set)

In [ ]:
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
print("Popped element:", popped_element)
print("Updated set:", my_set)

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The sets have no elements in common.")
else:
    print("The sets have at least one element in common.")

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.update(set2)
print(set1)

In [ ]:
prime_set = {2, 3, 5, 7, 11}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_frozen_set = frozenset(my_set)

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The sets are disjoint (have no elements in common).")
else:
    print("The sets have at least one element in common.")

In [ ]:
squares_set = {x**2 for x in range(1, 6)}
print(squares_set)

In [ ]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

filtered_set = {x for x in original_set if x % 2 != 0}

print(filtered_set)

In [ ]:
original_set = {1, 2, 3, 4, 5}

result_set = {x * 2 for x in original_set}

print(result_set)

In [ ]:
import random

random_set = set()
for _ in range(10):  
    random_number = random.randint(1, 100)  
    random_set.add(random_number)

print(random_set)

In [ ]:
my_set = set()

if len(my_set) == 0:
    print("The set is empty")
else:
    print("The set is not empty")

In [ ]:
nested_frozen_set = {
    'set1': frozenset([1, 2, 3]),
    'set2': frozenset([4, 5, 6]),
    'set3': frozenset([7, 8, 9])
}

print(nested_frozen_set['set1'])

In [ ]:
my_set = {1, 2, 3, 4, 5}
element_to_remove = 3

my_set.discard(element_to_remove)
print(my_set)

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 1, 2}

if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

In [ ]:
my_string = "hello"
my_set = {char for char in my_string}
print(my_set)

In [ ]:
string_set = {"1", "2", "3", "4", "5"}
integer_set = {int(x) for x in string_set}

In [ ]:
integer_set = {1, 2, 3, 4, 5}
string_set = {str(x) for x in integer_set}

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)

In [ ]:
my_set = {10, 5, 8, 15, 20, 3}

max_value = max(my_set)
print("The maximum value in the set is:", max_value)

In [ ]:
my_set = {10, 5, 8, 15, 20, 3}

max_value = max(my_set)
print("The maximum value in the set is:", max_value)

In [ ]:
my_set = {10, 5, 8, 15, 20, 3}

min_value = min(my_set)
print("The minimum value in the set is:", min_value)

In [ ]:
user_set = set()  

while True:
    user_input = input("Enter an element (or type 'done' to finish): ")
    
    if user_input.lower() == 'done':
        break  
    
    try:
        element = int(user_input)  
        user_set.add(element)  
    except ValueError:
        print("Invalid input. Please enter a valid integer.")

print("User set:", user_set)

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

intersection = set1 & set2  
if not intersection:
    print("The intersection of set1 and set2 is empty.")
else:
    print("The intersection of set1 and set2 is not empty.")

In [ ]:
fib_set = set()
a, b = 0, 1  

for _ in range(5):
    fib_set.add(a)
    a, b = b, a + b  

print(fib_set)

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]

unique_list = list(set(my_list))

print(unique_list)

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 5, 2, 1, 4}

if set1 == set2:
    print("The sets have the same elements regardless of their count.")
else:
    print("The sets have different elements.")

In [ ]:
n = 5  
powers_of_2_set = set()

for i in range(n):
    power_of_2 = 2 ** i
    powers_of_2_set.add(power_of_2)

print(powers_of_2_set)

In [ ]:

my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

common_elements = my_set.intersection(my_list)

common_elements_list = list(common_elements)

print("Common elements:", common_elements_list)

In [ ]:
n = 5  
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n + 1)}

print(triangular_numbers_set)

In [ ]:

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

is_subset = set2.issubset(set1)  

if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

In [ ]:
n = 10  
alternating_set = set()

for i in range(n):
    alternating_set.add(i % 2)

print(alternating_set)

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print(merged_set)